body {
  margin: 0;
  padding: 0;
  background-color: #546E7A;
  min-width: 336px;
  min-height: 480px;
}
.container {
  border-radius: 3%;
  background-color: lightgrey;
  box-shadow: 2px 4px 24px 6px #212121;
  padding: 12px;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #212121;
}
button {
  padding: 4px;
  text-align: center;
  font-size: 40px;
  color: black;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 2px 1px #212121;
}
button:hover {
  background-color: #0277BD;
  box-shadow: 2px 3px 3px 2px #212121;
}
#displayInput {
  border-radius: 5px 5px 0% 0%;
  margin: 0;
  margin-bottom: 8px;
  width: auto;
  padding: 4px;
  height: 60px;
  text-align: right;
  font-size: 50px;
  background-color: #90A4AE;
  border: 1px solid #212121;
  overflow-x: auto;
  box-shadow: 0 1px 1px 0 #212121;
}
.btnGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.clear {
  background-color: #FFEB3B;
}
.operation {
  color: black;
  background-color: cornflowerblue;
}
#equal {
  color: white;
  background-color: red;
}
#equal:hover {
  background-color: #D50000;
}
#d7 {
  grid-row-start: 2;
  grid-column-start: 1;
}
#d8 {
  grid-row-start: 2;
  grid-column-start: 2;
}
#d9 {
  grid-row-start: 2;
  grid-column-start: 3;
}
#division {
  grid-row-start: 2;
  grid-column-start: 4;
}
#d4 {
  grid-row-start: 3;
  grid-column-start: 1;
}
#d5 {
  grid-row-start: 3;
  grid-column-start: 2;
}
#d6 {
  grid-row-start: 3;
  grid-column-start: 3;
}
#multiplication {
  grid-row-start: 3;
  grid-column-start: 4;
}
#d1 {
  grid-row-start: 4;
  grid-column-start: 1;
}
#d2 {
  grid-row-start: 4;
  grid-column-start: 2;
}
#d3 {
  grid-row-start: 4;
  grid-column-start: 3;
}
#subtraction {
  grid-row-start: 4;
  grid-column-start: 4;
}
#dot {
  grid-row-start: 5;
  grid-column-start: 1;
}
#d0 {
  grid-row-start: 5;
  grid-column-start: 2;
}
#equal {
  grid-row-start: 5;
  grid-column-start: 3;
}
#addition {
  grid-row-start: 5;
  grid-column-start: 4;
}
#clear {
  grid-row-start: 1;
  grid-column-start:4;
}
h1 {
  margin: 12px 0;
  padding:0;
  text-align: center;
  color: white;
  font-size: 2em;
}
footer {
  margin: 15px 0 0 0;
  text-align: center;
  color: white;
}
